body {
  background-color: #def6da;
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-container {
  perspective: 1000px;
}

.card {
  width: 240px; /* w-60 */
  height: 384px; /* h-96 */
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.8s ease;
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.card-back {
  transform: rotateY(180deg);
}

.flipped .card {
  transform: rotateY(180deg);
}
